@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(180deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}

.animate-float {
  animation: float 7s ease-in-out infinite;
}

.path-line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 0.5s ease-in-out forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.swiper-slide {
    transition: all 0.3s ease;
    transform: scale(0.85);
    opacity: 0.5;
}

.swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}


/* logo marquee */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.partner-marquee-container {
  display: flex;
  width: fit-content;
}

.partner-marquee-content {
  display: flex;
  animation: scroll 30s linear infinite;
}

.partner-logo {
  transition: all 0.3s ease;
}

.partner-logo:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* fall animation */
@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-100px) rotate(var(--rotation));
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(var(--rotation));
  }
}

.animate-fall {
  opacity: 0;
}

.animate-fall.visible {
  animation: fall 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@media (max-width: 639px) {
  .team-swiper .swiper-slide-active > div {
      transform: scale(1.25);
      z-index: 10;
  }
}
.swiper-slide {
  opacity: 1 !important;
}

/* button shine animation */
@keyframes shine {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(100%);
  }
}

@keyframes pulse-border {
  0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-border-black {
  0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.animate-shine {
  animation: shine 1.5s infinite;
}

.animate-pulse-border {
  animation: pulse-border 2s infinite;
}

.animate-pulse-border-black {
  animation: pulse-border-black 2s infinite;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
}

@keyframes drawPath {
  to {
      stroke-dasharray: 30000, 30000;
  }
}